# ==============================================================================
# VARIÁVEIS DE AMBIENTE
# ==============================================================================

# Credenciais do Banco de Dados PostgreSQL
POSTGRES_USER=minha_assinatura
POSTGRES_PASSWORD=senha_segura
POSTGRES_DB=minha_assinatura

# URL de Conexão (Ajustar para o IP correto do contêiner DWH 401)
DATABASE_URL=postgresql://minha_assinatura:senha_segura@10.100.4.1:5432/minha_assinatura

# JWT Configurações
JWT_SECRET=super_secret_key_123456_minha_assinatura_app_jwt
JWT_EXPIRES_IN=7d
